*{
    margin: 0;
    padding: 0;
}

body{ 
     
    .app-content {
        display: flex;
        width: 100%;
        
        .sidebar-left-side {
            background-color: rgb(36, 35, 48);
            width: 300px;
            height: 100vh;
            position: relative;
            transition: all .3s;
            margin-left: 0;
            //box-shadow: 2px 0 2px 0 #585858;

            &.active {
                margin-left: -302px;
                transition: all .3s;
            }

            a {
                color: #fff;
                
                li {
                    padding: 10px;
                    
                    &:hover {
                        background-color: rgb(253, 83, 5);
                        border-left: 8px solid rgb(255, 255, 255);
                        transition: all .3s;
                    }
                }
            }
        }

        .content-right-side {
            width: 100%;
            background-color: rgb(240, 240, 255);
            transition: all .3s;

            &.menu-active {
                margin-left: 0;
                transition: all .3s;
            }

            .right-side-navbar {
                background-color: #fff;
                box-shadow: 1px 0px 2px 1px #868686;

                .navbar-content {
                    display: flex;
                    justify-content: space-between;
    
                    .navbar-left {
                        button {
                            padding: 16px 22px;
                            border: 1px solid #fff;
                            background-color: rgb(255, 255, 255);

                            h6 { font-size: 0.5rem; }
        
                            &:hover {
                                background-color: rgb(56, 55, 77);
                                border: 1px solid rgb(36, 35, 48);
                                color: #fff;
                                border-radius: 0;
                                transition: all .3s;
                            }
                        }
                    }

                    .navbar-right {
                        display: flex;
                        button {
                            padding: 15px 20px;
                            background-color: #fa7d35;
                            border: 1px solid #fa7d35;
                            border-left: 1.5px solid #fff;
                            color: #fff;
                            
                            h6 { font-size: 0.5rem; }

                            &:hover {
                                background-color: #ffac7c;
                                transition: all .3s;
                            }

                            &.profile-btn {
                                background-color: #fff;
                                border: 1px solid #fff;
                                color: #242424;
                                display: flex;

                                .profile-img {
                                    width: 35px;
                                    height: 35px;
                                    object-fit: cover;
                                    object-position: center;
                                    border-radius: 50%;
                                    border: 1px inset rgb(240, 240, 240);
                                    box-shadow: 1px 1px 2px 0 rgb(10, 10, 10);
                                }
                                
                                .profile-text-name {
                                    margin: 0 8px;
                                    font-weight: 500;
                                }

                                &:hover {
                                    background-color: #fff7f0;
                                    border: 1px solid #fff6f2;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}