*{
    margin: 0;
    padding: 0;
}

body{ 
     
    .app-content {
        display: flex;
        width: 100%;
        
        .sidebar-left-side {
            background-color: rgb(36, 35, 48);
            width: 300px;
            height: 100vh;
            position: relative;
            transition: all .3s;
            margin-left: 0;

            &.active {
                margin-left: -300px;
                transition: all .3s;
            }

            a {
                color: #fff;
                
                li {
                    display: 1subgrid;
                    padding: 10px;
                    
                    &:hover {
                        background-color: rgb(253, 83, 5);
                        border-left: 8px solid rgb(255, 255, 255);
                        transition: all .3s;
                    }
                }
            }
        }

        .content-right-side {
            width: 100%;
            background-color: rgb(240, 240, 255);
            transition: all .3s;

            &.menu-active {
                margin-left: 0;
                transition: all .3s;
            }

            .right-side-navbar {
                padding: 10px;
                background-color: #fff;
                box-shadow: 1px 0px 2px 1px #868686;

                .btn-active-menu {
                    padding: 5px 10px;
                    border-radius: 3px;
                    border: 1px solid #fff;
                    background-color: rgb(235, 246, 255);

                    &:hover {
                        background-color: #000;
                        color: #fff;
                        transition: all .3s;
                    }
                }
            }
        }
    }
}